body {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #EBEBEB;
	font-family: "Quicksand";
}
.jumbotron .container h1 {
	padding-top: 100px;
	color: #fff;
	font-weight: bold;
}
h3 {
	font-weight: bold;
}
#bottom {
	padding-bottom: 60px;
}