body {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #EBEBEB;
	font-family: "Quicksand";
}
.navbar-fixed-bottom {
	height: 60px;
	background-color: #222;
}
.navbar-fixed-bottom p {
	color: #fff;
	text-align: center;
	padding-top: 18px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  padding-left: 32%;
}
.jumbotron {
	height: 400px;
	background-image: url('/Carousel/FO4.jpg');
	background-size: cover;
}
.jumbotron .container h1 {
	padding-top: 100px;
	color: #fff;
	font-weight: bold;
}
h3 {
	font-weight: bold;
}
#bottom {
	padding-bottom: 60px;
}