@font-face {
  font-family: 'Shift';
  font-style: normal;
  font-weight: normal;
  src: url("/build/fonts/shift.woff") format("woff");
}
@font-face {
  font-family: 'Shift';
  font-style: normal;
  font-weight: bold;
  src: url("/build/fonts/shift-bold.woff") format("woff");
}
/* latin */
@font-face {
  font-family: 'ProductSans';
  font-style: normal;
  font-weight: 400;
  src: local('Product Sans'), local('ProductSans-Regular'), url('/build/fonts/ProductSansLatin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: normal;
  src: url("/build/fonts/Quicksand-Regular.woff2") format("woff2");
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: bold;
  src: url("/build/fonts/Quicksand-Bold.woff2") format("woff2");
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/build/fonts/glyphicons-halflings-regular.eot');
  src: url('/build/fonts/glyphicons-halflings-regular.woff2') format("woff2");
}