body {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #EBEBEB;
	font-family: "Quicksand";
}
body p {
	font-size: 16px;
}
body li {
	font-size: 16px;
}
.navbar-fixed-bottom {
	height: 60px;
	background-color: #222;
}
.navbar-fixed-bottom p {
	color: #fff;
	text-align: center;
	padding-top: 18px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  padding-left: 19%;
}
.jumbotron .container h1 {
	padding-top: 100px;
	color: #fff;
	font-weight: bold;
}
#review .container {
	padding-bottom: 150px;
}
#review .container h2 {
	font-weight: bold;
}
#review .container h4 {
	font-weight: bold;
}
h2#Screenshots {
	padding-bottom: 30px;
}
h2{
	margin-top: 0px;
}
#reddit {
	padding-top: 20px;
}
#reddit .reddit-header {
	background-color: #333 !important;
}
#reddit .reddit-header a {
	color: #fff !important;
}
#reddit .reddit-header h4 {
	color: #fff !important;
	font-family: "Quicksand" !important;
}
#reddit .reddit-entry .reddit-link-title {
	color: #333 !important;
	font-family: "Quicksand" !important;
	font-weight: bold !important;
}